Config {
      font            = "xft:Fira Code Nerd Font:regular:size=12"
    , additionalFonts = [ "xft:FontAwesome:pixelsize=13" ]
    , fgColor         = "#DDDDDD"
    , bgColor         = "#333333"
    , sepChar         = "%"
    , alignSep        = "}{"
    , allDesktops     = True
    , template        = "%StdinReader% }{ %battery% | %kbd% | %date%"
    , commands        = [ Run Kbd     [ ("us",     "<fc=#CB0000>US</fc>")
                                      , ("br",     "<fc=#008B00>BR</fc>") ]
                        , Run Battery [ "--template" , "<acstatus>"
                                      , "--Low"      , "10"        -- units: %
                                      , "--High"     , "80"        -- units: %
                                      , "--low"      , "darkred"
                                      , "--normal"   , "darkorange"
                                      , "--high"     , "darkgreen"

                                      , "--" -- battery specific options
                                                -- discharging status
                                                , "-o"	, "<left>% (<timeleft>)"
                                                -- AC "on" status
                                                , "-O"	, "<fc=#dAA520>Charging</fc>"
                                                -- charged status
                                                , "-i"	, "<fc=#009000>Charged</fc>"
                                      ] 50
                        , Run Date "<fc=#FFFFFF>%F (%a) %T</fc>" "date" 10
                        , Run StdinReader
                        ]
}
